/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;800&display=swap');
@import '../styles/navbar.module.css';

:root {
    --color-primary: #334257;
    --color-secondary: #476072;
    --color-tertiary: #548CA8;
    --color-cuaternary: #EEEEEE;
    --hover-color: #283338;
}

nav {
    background-color: var(--color-primary);
}

