.nav-icon {
    color: var(--color-cuaternary);
}

.nav-item :hover {
    color: var(--color-tertiary)!important;  
    background-color: var(--hover-color);
    transform: scale(1.05);
    padding-top: 2px;
    padding-bottom: 2px;
    transition: all .2s ease-in;
    overflow: hidden;
}